{form staticpageForm/}

<script type="text/javascript">
    $(document).ready(function(){
        $('legend').click(function() {
            $(this.parentNode).find('div').toggle();
        });
//
        $('legend').css('cursor', 'pointer');

    });
//$('fieldset').find('div').toggle();
</script>
